body {
  padding: 50px 50px;
  background-color: #f2f2f2;
}

#page_title {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.area {
  margin: 10px 0;
}

#dropdown {
  display: flex;
  justify-content: flex-end;
}

#table {
  padding: 10px 0;
  font-size: 1rem;
}

li {
  list-style: none;
}
.dropdown-menu {
  margin: 0;
  text-align: center;
}
#pagination {
  padding: 10px 10px;
  text-align: center;
  background-color: white;
}

#pagination > button {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 550;
  border: 0;
  background-color: white;
  cursor: pointer;
}

button.arrow {
  color: red;
}
